/* General Layout */

.home {
  font-family: var(--body-font);
  color: var(--charcoal);
  background-color: var(--light-cream);
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: none;
}

.homepage-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none;
}

.container {
  max-width: none;
  padding: 0;
  margin: 0;
}

/* Scroll Button Bounce */
@keyframes subtleBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}